
# Last update: 2024-07-07.12:19:47

alias cpupower='sudo $HOME/proj/pfkutils/py/prog/cpupower.py'
alias pfk_fs='sudo $HOME/proj/pfkutils/py/prog/pfk_fs.py'

# Local Variables:
# mode: Shell-script
# indent-tabs-mode: nil
# tab-width: 8
# eval: (add-hook 'write-file-functions 'time-stamp)
# time-stamp-start: "Last update: "
# time-stamp-format: "%:y-%02m-%02d.%02H:%02M:%02S"
# time-stamp-end: "$"
# End:
