
alias lapd='export DISPLAY=laptop:0'
alias rund='export DISPLAY=runner:0'
alias run='rsh -l flipk runner'
alias mp3='mpg123 -a /dev/dsp '

export FTPANONPASS=pknaack1@wi.rr.com

xconsole_hook() {
    xhost laptop
    xhost runner
}

tty=`tty`
if [[ $tty != ${tty#/dev/ttyv} ]] ; then
    unset -f x
    x() {
        clear
        xinit > .xinitlog 2>&1
    }
fi

