
xconsole_hook() {
	# disable that disgusting mouse acceleration
	xset m 0
}

tty=`tty`
if [[ $tty != ${tty#/dev/ttyv} ]] ; then
    unset -f x
    x() {
        clear
        xinit > .xinitlog 2>&1
    }
fi
