# -*- Mode:makefile-gmake; tab-width:8 -*-

CONFIG = blade-rpi

# pi0 is a single core
MAKEJOBS ?= -j1

PFK_BUILD_pfkbak=1
PFK_BUILD_pfksh=1
PFK_BUILD_syslog=1
PFK_BUILD_checksize=1
PFK_BUILD_treescan=1
PFK_BUILD_ts2=1
PFK_BUILD_sudo=1
PFK_BUILD_ampfk=1
PFK_BUILD_pfkscript=1
PFK_BUILD_sessionmgr=1
PFK_BUILD_xrandr=1
PFK_BUILD_states=1
PFK_BUILD_bglog=1
PFK_BUILD_he=1
PFK_BUILD_libpfkfb=1
PFK_BUILD_diskloader=1
PFK_BUILD_pfkstat=1
PFK_BUILD_deduplifier=1
PFK_BUILD_libwas=1
PFK_BUILD_libpfkthread=1
PFK_BUILD_wsproxy=0
PFK_BUILD_xlock=0
PFK_BUILD_fonts=1
PFK_BUILD_pfktop=1
PFK_BUILD_spinner=1
PFK_BUILD_hilite=1
PFK_BUILD_do_fft=1
PFK_BUILD_protossl=1
PFK_BUILD_i3=1
PFK_BUILD_slowlink=1

PFK_FINDPF_GCC = gcc
PFK_FINDPF_GCC_ARGS = -DDEBUG=0

KSHRC_LOCAL = kshrc.local.blade
PROTOC_PATH = /usr/bin/protoc
PROTOBUF_INC =
PROTOBUF_LIB = -lprotobuf
MBEDTLS_INCS = 
MBEDTLS_LIBS = -lmbedtls -lmbedx509 -lmbedcrypto

PFKUTILS_OS = raspbian10
# ub18 comes with emacs 25.2 so override default setting of ELPA
ELPA_ARCHIVE ?= elpa-25.tar.bz2

SCRIPT_FILES_EXTRA = # mhssh mhscp

CONTRIB_PROGS= cscope-pfk rxvt-pfk fluxbox-pfk
# cscope-pfk ctwm-pfk rxvt-pfk fluxbox-pfk fish-pfk mscgen-pfk

export PFK_CONFIG_flubox_xinerama=disable
export PFK_CONFIG_contrib_makejobs=-j1

# turn off color compile output so emacs compile buffer can work;
# need a more generic solution for compiling in emacs compile buffer.
# CXXFLAGS = -fno-diagnostics-color
