# -*- Mode:makefile-gmake; tab-width:8 -*-

CONFIG = latdc

# not my machine, be nice to the owner
MAKEJOBS ?= -j3

PFK_BUILD_pfkbak=1
PFK_BUILD_pfksh=1
PFK_BUILD_syslog=0
PFK_BUILD_checksize=0
PFK_BUILD_treescan=1
PFK_BUILD_ts2=1
PFK_BUILD_sudo=0
PFK_BUILD_ampfk=1
PFK_BUILD_pfkscript=1
PFK_BUILD_sessionmgr=1
PFK_BUILD_xrandr=1
PFK_BUILD_states=0
PFK_BUILD_bglog=0
PFK_BUILD_he=1
PFK_BUILD_libpfkfb=1
PFK_BUILD_diskloader=0
PFK_BUILD_pfkstat=0
PFK_BUILD_deduplifier=1
PFK_BUILD_libwas=1
PFK_BUILD_libpfkthread=1
PFK_BUILD_wsproxy=0
PFK_BUILD_xlock=0
PFK_BUILD_fonts=1
PFK_BUILD_pfktop=1
PFK_BUILD_spinner=0
PFK_BUILD_hilite=1
PFK_BUILD_do_fft=0
PFK_BUILD_protossl=1
PFK_BUILD_i3=1
PFK_BUILD_slowlink=1

KSHRC_LOCAL = kshrc.local.mot

PROTOC_PATH = /usr/bin/protoc
PROTOBUF_INC = 
PROTOBUF_LIB = -lprotobuf
MBEDTLS_INCS = 
MBEDTLS_LIBS = -lmbedtls -lmbedx509 -lmbedcrypto

PFKUTILS_OS = ubuntu18
# ub18 comes with emacs 25.2 so override default setting of ELPA
ELPA_ARCHIVE ?= elpa-25.tar.bz2

CONTRIB_PROGS= cscope-pfk rxvt-pfk fluxbox-pfk

export PFK_CONFIG_flubox_xinerama=disable
export PFK_CONFIG_contrib_makejobs=-j4
